:root {
  --dark-navy: #020c1b;
  --light-purple: rgb(220, 200, 223);
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #f0f5fb;
  --blue: #57cbff;
  --green: #64ffda;
  --dark-green: #29797d;
  --light-green: #def8f8;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--dark-green);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/img/mosque_pattern2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  text-align: center;
  padding: 200px 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  margin: 0;
}

header h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 1;
  margin: 30px 0;
}

button {
  padding: 16px 32px;
  margin-top: 32px;
  border: none;
  font-size: 14px;
  color: var(--dark-navy);
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  background: var(--white);
}

main {
  background-color: var(--white);
}

main h2 {
  color: var(--dark-green);
  opacity: 0.6;
  margin: 0;
  letter-spacing: 3px;
  text-transform: uppercase;
}

main p {
  color: var(--dark-navy);
  opacity: 0.7;
}

main h3 {
  font-weight: 700;
  font-size: 32px;
  color: var(--dark-navy);
}

main h4 {
  color: var(--dark-navy);
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
}

main h5 {
  color: var(--dark-navy);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;
}

.secondary {
  background: var(--light-green);
}

.secondary-titles {
  text-align: center;
}

h2.secondary-titles {
  padding-top: 20px;
}

.img-responsive {
  width: 100%;
}

.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
}

.card {
  background: var(--white);
  margin: 30px 0;
}

.card-header.grid-2-columns {
  grid-gap: 0px;
}

.embed {
  width: 100%;
  aspect-ratio: 1.5/1;
}

.card-body {
  margin: 34px;
}

.button-card {
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 14px;
  color: var(--white);
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  background: var(--dark-green);
}

footer {
  color: var(--white);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/img/isfahan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer a {
  color: var(--green);
  color: var(--blue);
}

.grid-3-columns-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 60px;
}

@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }
  header h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    padding: 5px;
  }

  header h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    margin: 30px;
    padding: 5px;
  }
  .grid-3-columns-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 30px;
  }
  .grid-2-columns {
    display: grid;
    grid-template-columns: 1fr;
  }
  section {
    padding: 20px;
  }
  .container {
    padding: 10px 0;
  }
  .grid-3-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .gallery {
    padding: 5px;
  }
}
