:root {
  --violet: #834ed2;
  --dark-violet: #381073;
  --dark-navy: #020c1b;
  --light-purple: rgb(220, 200, 223);
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --blue: #57cbff;
  --green: #64ffda;
  --dark-green: #29797d;
  --border: 1px solid var(--green);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --background-gradient: linear-gradient(
    90deg,
    --dark-green 3.2%,
    --green 90.3%
  );
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--dark-green);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/mosque_pattern2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  text-align: center;
  padding: 200px 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

button {
  padding: 16px 32px;
  margin-top: 32px;
  border: none;
  font-size: 14px;
  color: var(--dark-navy);
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  background: var(--white);
}

footer {
  color: var(--white);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/img/isfahan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer a {
  color: var(--green);
  color: var(--blue);
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

.grid-3-columns-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 60px;
}

@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }
  .grid-3-columns-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 30px;
  }
}
